@import 'tailwindcss';
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@theme {
  --color-main: #00298d;
  --color-secondary: #f0f2f5;
}

body {
  background-color: var(--color-secondary);
  color: var(--color-main);
  font-family: 'SN Pro', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@util container {
  margin-inline: auto;
}
